<!doctype html>
<html ng-app="CarreExample">
  <head>    
    <base href="/"> 
    <meta charset="utf-8">
    <title>CARRE Personalized Risk Assessment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-controller="ExampleController" class="col-sm-12" ng-cloak>
  
  <h1>CARRE Personalized Risk Assessment</h1>
  <h4>
    <span ng-show="user.username">Hi {{user.username}}, <a class="btn btn-sm btn-default" ng-href="{{logoutUrl}}">Logout</a> </span>
    <span ng-hide="user.username">Hello guest, please <a class="btn btn-sm btn-default" ng-href="{{loginUrl}}">Login</a> or 
    <button class="btn btn-sm btn-default" ng-click="loadTestUser()">Load Test User</button>
    </span>
      <img style="padding-left:5px;" ng-show="loading" src="assets/loaders/ajax-loader.gif">
      <button ng-show="user.username&&!loading"  class="btn btn-sm btn-primary" ng-click="loadData()">Reload data</button>
      <select style="margin-left:10px; display:inline" ng-change="changeLanguage()" ng-model="lang">
          <option value="el">Greek</option>
          <option value="en">English</option>
          <option value="lt">Lithuanian</option>
      </select>
  </h4>
  
  <hr>
  <div>
    <div class="alert alert-info" ng-hide="measurements.length>0">No data</div>
    <div ng-if="measurements.length>0">
      <div class="row">
        <div class="col-sm-4">
          <h4>My Last measurements</h4>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="me in measurements">
              <a target="_blank" ng-href="{{me.link}}"> {{me.label}}</a>: <b>{{ me.value }}</b> ,<small> on {{me.date}}</small>
            </li>
          </ul>
        </div>
        
        <div class="col-sm-8">
          <h4>My Risk Assessment
            <select style="margin-left:10px; display:inline" ng-model="visualizationType">
                <!--<option value="network">Network graph</option>-->
                <option value="sankey">Sankey graph</option>
                <option value="list">Simple list</option>
                <option value="educational">Educational Material</option>
            </select>
            
            <select ng-if="visualizationType==='educational'" 
            style="margin-left:10px; display:inline" 
            ng-change="selectEducational(educationalTerm)"
            ng-model="educationalTerm">
              <option ng-repeat="edu in educational" value="{{edu.label}}">{{edu.label}}</option>
            </select>
    
          </h4>
          
          <ul class="list-group" ng-show="visualizationType==='list'">
            <li class="list-group-item" ng-repeat="rf in risk_factors">
              <a target="_blank" ng-href="{{rf.link}}">{{rf.label}}</a> :
              <span ng-repeat="ev in rf.evidences track by $index">
                <a class="btn btn-xs btn-danger" target="_blank" ng-href="{{ev.link}}">{{ ev.ratio }} </a> 
                <span style="width:10px;" ng-if="$last"></span>
              </span>
            </li>
          </ul>          
          
          <iframe width="100%" ng-onload="iframeLoaded()" ng-show="visualizationType==='sankey'" height="1200px" frameBorder="0" scrolling="no" ng-src="{{entrysystemUrlSankey}}"> </iframe>
          <!--<iframe width="100%" ng-onload="iframeLoaded()" ng-show="visualizationType==='network'" height="1200px" frameBorder="0" scrolling="no" ng-src="{{entrysystemUrlNetwork}}"> </iframe>-->

          
          <iframe width="100%" ng-show="showEducational&&visualizationType==='educational'" height="1200px" frameBorder="0" scrolling="no" ng-src="{{educationalObjectUrl}}"> </iframe>

          
          
        </div>
        
      </div>
    </div>
  </div>

    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
    
    
    <script src="//rawgit.com/carre-project/RiskEvidenceConditionParser/master/dist/risk_evidence_condition_parser.min.js"></script>

  </body>
</html>
